.subtotal{
    padding: 10px;
}

.checkout-button{
    padding: 8px;
    margin: 5px;
<<<<<<< HEAD
    background: #0606b2;
}
.bottom{
    background: #ecf0f1;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
=======
>>>>>>> main
}