.subtotal{
    padding: 10px;
}

.checkout-button{
    padding: 8px;
    margin: 5px;
    background: #5365dd;
}
.bottom{
    background: #ecf0f1;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subtotal button{
    width: 150px;
    Height: 40px;
}