.outer1{
  padding-bottom: 20px;
}
.main1 {
  text-align: center;
  justify-content: center;
  display: flex; 
  padding-top: 120px;
  padding-bottom: 20px;
  background-color: #e1e3eb;
}

.sub-main1 {
  display: flex;
  justify-content: center;
  height: 450px;
  width: 40%;
  box-shadow: 11px 12px 13px 12px rgb(207, 207, 207);
  padding-top: 20px;
  border-radius: 60px; 
  background-color: white;
}

h1{
  text-align: center;
}

.name{
  font-size: 20px;
}

.b1{
  margin-top: 10%;
  margin-bottom: 10%;
}

.name1{
  padding-left: 70px;
  font-size: 25px;
  padding-top: 10px;
  margin-top: 20px;

}
