# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Kelaniya SE\Lectures\LEVEL 2\Semester 2\SENG 22212 (archi)\Assignment\E-commerce Web\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
