.admin-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .admin-profile form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  form label {
    margin-bottom: 10px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form input[type="password"],
  form input[type="file"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
  }
  
  form input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #2ecc71;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .admin-photo img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .image-upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    width: 100%;
  }

  